body{
    background-color: #685a75a5;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

.one{
    font-size: 20px;
}

.two{
    text-align: center;
    font-size: large;
    margin: 0;
    padding-top: 10;
}